.medievalsharp-regular {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("https://wallpapers.com/images/hd/old-paper-texture-parchment-grodfr8ezxzzei6l.jpg")
}


#header {
    background-color: blueviolet;
    font-size: larger;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%;
    font-family: "MedievalSharp";
 
}

#logo {
    width: 150px;
    height: 120px;
}

nav {
    display: flex;
}

nav a {
    font-size: 23px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: black
}

#header2 {
    background-color: brown;
    text-align: center;
    padding: 5px 0; 
    color: white;
    width: 100%; 
}



#final {
    background-color: blueviolet;
    font-size: larger;
    padding: 30px 10px;
    color: black;
    text-align: left;
    margin-top: 20px;
    font-family: "MedievalSharp";

}
#final a {
    color: white;
}
