* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;

}


#header {
    background-color: blueviolet;
    font-size: larger;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
}

#logo {
    width: 150px;
    height: 120px;
}

nav {
    display: flex;
}

nav a {
    font-size: 23px;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: black
}

#header2 {
    background-color: brown;
    text-align: center;
    padding: 5px 0; 
    color: white;
    width: 100%; 
}
#legenda {
    text-align: center;
    font-size: 25px
}
#produtosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}
#bebidasContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
}

.card {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-items: center;
    padding: 10px;
    min-height: 120px;
}

.card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.card-info {
    flex-grow: 1;
}

.card-info h3 {
    margin: 0;
    font-size: 18px;
}

.card-info p {
    margin-top: 5px;
    color: #555;
}

.card-preco {
    font-weight: bold;
    font-size: 18px;
    color: #2c2c2c;
    margin-left: 20px;
    white-space: nowrap;
}
.quantidade {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.quantidade button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantidade button:hover {
    background-color: darkviolet;
}

#botao-carrinho {
    background-color: green;
    color: white;
    border: none;
    width: 90%; /* Agora ele vai ocupar 90% da largura */
    max-width: 400px; /* Vai ter uma largura máxima pra não esticar demais em telas grandes */
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px auto; /* Vai centralizar ele e deixar espaço nas laterais */
    border-radius: 25px; /* Borda arredondada */
    display: block; /* Faz o botão ser um bloco, ocupando o espaço que definimos */
    transition: background-color 0.3s ease;
}

#botao-carrinho:hover {
    background-color: darkgreen;
}



#final {
    background-color: blueviolet;
    font-size: larger;
    padding: 30px 10px;
    color: black;
    text-align: left;
    margin-top: 20px;
}
#final a {
    color: white;
}


